body{
	background-image: url("../images/background3.jpg");
	background-repeat:no-repeat;
	position:absolute;
	width:1200px;
}

header{
	color:black;
	text-align: center;
	font-style: italic;
}


#accordion{
	margin:10px 30px 10px 30px;
	border-style: inset;
	border-color: #D0D6D9;
	border-radius: 5px;
	padding:10px 10px 10px 30px;
	height: auto;
	overflow: hidden;
}

#main{
	z-index: 99
}

.hidden{
	display: none;
}






